<?xml version="1.0" encoding="utf-8"?>
<RDBSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RDBSConnectString>Data Source=TENGDA\SQL2012;Initial Catalog=brnshop;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</RDBSConnectString>
  <RDBSTablePre>bsp_</RDBSTablePre>
</RDBSConfigInfo>